/* PAGE ACCUEIL */

body {                        /* Tout le code html */ 
    background-image: url(../Images/background1.jpg);
    font-family: "Josefin Slab", serif, Courier New, Verdana;
    color: black; 
    margin:0;
    height : 100%;
    text-align: justify;
}

#container{
}

#containerTitre{
  width:50%;
  margin:auto;
}

body img[name="logo"]{
  position:absolute;
  margin-left:10%;
  margin-top: 7px;
  height: 12%;
  max-width:25%;
  float:left;
}

#entete { 
    font-family: 'Lobster', cursive;
    padding: 10px 0;  /* top right bottom left */
    text-align: center;
    font-size: 40px;
    text-shadow: 2px 2px 5px black;
    color : white;
    position:relative;
}

.accroche{
    font-size: 20px;
    color:white;
    text-align: center;
    font-family: "Josefin Slab", serif, Courier New, Verdana;
    position: relative;
}

#menu{
    text-align: left;
    font-size: 25px;
    padding: 10px;
    border-bottom: 1px solid #87CEFA;
}

input {
    border:none;
    font-family: "Josefin Slab", serif;
    font-size: 16px;
    line-height: 1.5em;
    padding: 0; 
}

form header {
  font-family: "Josefin Slab", serif, Courier New, Verdana;
  background-color: #262626;
  padding: 5px 10px;
  color: white;
  font-size: 1.2em;
  border-radius: 5px 5px 0 0;
  margin-bottom: 5px;
  text-align: center;
}

#login {
  margin: 50px auto;
  width: 320px;
}

#login form{
  margin: auto;
  padding: 22px 22px 22px 22px;
  width: 100%;
  border-radius: 5px;
  background-color: #262626;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
}

#login form span {
  background-color: #363b41;
  border-radius: 3px 0px 0px 3px;
  border-right: 3px solid #434a52;
  color: #606468;
  display: block;
  float: left;
  line-height: 70px;
  text-align: center;
  width: 50px;
  height: 50px;
}

#login form input[type="text"] {
  background-color: #3b4148;
  border-radius: 0px 3px 3px 0px;
  color: #a9a9a9;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 235px;
  height: 50px;
}

#login form input[type="password"] {
  background-color: #3b4148;
  border-radius: 0px 3px 3px 0px;
  color: #a9a9a9;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 235px;
  height: 50px;
}

#login form button[type="submit"] {
  font-family: "Josefin Slab", serif, Courier New, Verdana;
  font-size: 1.2em;
  background: #176780;
  border: 0;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
}

#footer {
    clear: both;
    border-top: 1px solid #87CEFA;
    bottom:0;
    left:0;
    right:0;
    position: fixed; /*absolute*/
    color: white;
    text-align: center;
    height: 40px;
    padding-top: 10px;
}

/* --- MENU PAGES ---  */
.navbar {                             /* Div barre de navigation */
    overflow: hidden;                 /* visible | hidden */
    background-color: #262626; 
    font-family: "Josefin Slab", serif;
}

.navbar a {                 /* Pr Rdv, Planning : ceux qui n'ont pas de ss classes */
    float: left;
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 14px 16px;     /* 14px 16px */
    text-decoration: none;
}

.navbar a[name="Déco"]{
  display: block;
  padding: 3px 0 0 3px;
  float:right;
  max-width: 100px;
  line-height: 15px;
}

.dropdown {                 /* Pr les 4 Div coulissants : Patient, Services, Compte User, Vérif */
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {       /* Pour les 4 boutons coulissants */
    font-family: "Josefin Slab", serif;
    font-size: 18px; 
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #e6e6e6; 
    color:black;
    border-radius: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Page Principale -- Bienvenue -- */        /*FINIR*/

#PagePrincipale{
  padding : 20px;
  background-color: #e6e6e6;
  height: 100%
}