/* PAGE ACCUEIL */

body {
    background-image: url(../Images/background1.jpg);
    font-family: "Josefin Slab", serif, Courier New, Verdana;
    color: #87CEFA; 
    }

#entete { 
    margin: 0 0 0 0 ;
    padding: 10px 10px 0px 10px;  
    text-align: center;
    font-size: 40px;
    text-shadow: 2px 2px 5px black;
    color : white;
    }

.accroche{
    text-align: center;
    font-size: 20px;
    color:white;
    padding: 0 0 10px 0;
    }

#menu{
    text-align: center;
    font-size: 25px;
    padding: 10px;
    border-bottom: 1px solid #87CEFA;
    }

img{
    display:block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;   
    }

.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    background-color: white;
    }

.Authentification{
    padding: 2px 10px;
    background-color: red;
    }

#login-form {
    background-color:white;
    margin-right: 20%;
    margin-left: 20%;
    }


/*.Authentification {
    display: inline-block;
    width : 170px;
    padding: 20px;
    margin: auto;
    background-color: black;
    border-left: 1px solid #ccc; 
    border-bottom: 1px solid #ccc;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    }

.formuAccueil:hover{
    background-color: #BDBDBD;
    color: purple;
    }

*/

/* --- MENU PAGES ---  */
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
