/*              */
/* PAGE ACCUEIL */
/*      ET      */
/* ENTETE PAGES */
/*              */

body {                        
    background-image: url(../Images/background.png);
    background-color: #00658D;
    font-family: "Josefin Slab", serif, Courier New, Verdana;
    color: #17202A; 
    margin:0;
    height : 100%;
    text-align: justify;
}

.Page {
  min-height: calc(100vh - 51px);
}

#containerTitre{
  width:50%;
  margin:auto;
}

body img[name="logo"]{
  position:absolute;
  margin-left:10%;
  margin-top: 7px;
  height: 12%;
  max-width:25%;
  float:left;
}

#entete { 
    font-family: cursive;
    padding: 10px 0 0 0 ;                    /* top right bottom left */
    text-align: center;
    font-size: 40px;
    text-shadow: 2px 2px 5px black;
    color : white;
    position:relative;
}

.accroche{
    font-size: 20px;
    color:white;
    text-align: center;
    font-family: "Josefin Slab", serif, Courier New, Verdana;
    position: relative;
}

#menu{
    text-align: left;
    font-size: 25px;
    padding: 10px;
    border-bottom: 1px solid #87CEFA;
}

input {
    border:none;
    font-family: "Josefin Slab", serif;
    font-size: 16px;
    line-height: 1.5em;
    padding: 0; 
}

form header {
  font-family: "Josefin Slab", serif, Courier New, Verdana;
  background-color: #17202A;
  padding: 5px 10px;
  color: white;
  font-size: 1.2em;             /* taille relative */
  border-radius: 5px 5px 0 0;
  margin-bottom: 5px;
  text-align: center;
}

#login {
  margin: 50px auto;
  width: 320px;
}

#login form{
  margin: auto;
  padding: 22px 22px 22px 22px;
  width: 100%;
  border-radius: 5px;
  background-color: #17202A; /*17202A, 262626*/
  border-top: 3px solid white;
  border-bottom: 3px solid white;
}

#login form span {
  background-color: #363b41;
  border-radius: 3px 0px 0px 3px;
  border-right: 3px solid #434a52;
  color: #606468;
  display: block;
  float: left;
  line-height: 70px;
  text-align: center;
  width: 50px;
  height: 50px;
}

#login form input[type="text"] {
  background-color: #3b4148;
  border-radius: 0px 3px 3px 0px;
  color: #a9a9a9;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 235px;
  height: 50px;
}

#login form input[type="password"] {
  background-color: #3b4148;
  border-radius: 0px 3px 3px 0px;
  color: #a9a9a9;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 235px;
  height: 50px;
}

#login form button[type="submit"] {
  font-family: "Josefin Slab", serif, Courier New, Verdana;
  font-size: 1.2em;
  background: #176780;
  border: 0;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
}

#error {             /* ancienne classe "alert alert-danger" */
  color : red;       /* messages d'erreur */
  margin: 10px;
}

#error a:link{
  color: #fafafa;
  padding : 5px;
  border-radius: 5px;
  background-color: #17202A;
}

#error a:hover{
  color: red;
  box-shadow: 3px 3px 5px #888888;
}

#valide {            /* ancienne classe "alert alert-info" */
  color: #00688B;
  margin: 10px;
}

#valide a{
  color: #00688B;
  padding : 5px;
  border-radius: 5px;
  border : 1px solid #00688B;
  background-color: #E5ECEE;
  box-shadow: 5px 5px 5px #DCE3E5
}

.abandon{
  margin: 15px 29px;
  border-radius: 5px;
}

/*                     */
/* --- MENU PAGES ---  */
/*                     */ 

.navbar {                             /* barre de navigation */
    margin-top: 8px;
    overflow: hidden;                 /* visible | hidden */
    background: -webkit-linear-gradient(#5D6D7E, #17202A);
    background:    -moz-linear-gradient(#5D6D7E, #17202A);
    font-family: "Josefin Slab", serif;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3),
                0 3px 5px rgba(0, 0, 0, .2);
}

.navbar a {                 /* Pr Rdv, Planning */
    float: left;
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 14px 16px;     
    text-decoration: none;
    border-right: 1px solid #5D6D7E;
}

.navbar a[name="Déco"]{   /* Pour le bouton Déconnexion */
  float: right;
  position : relative;
  margin : auto;
}

.navbar a[name="Déco"] img[name="logout"]{
  height: 50%;
  position : absolute;
  float: left;
  margin-left: -30px;
  margin-top: -3px;
}

.dropdown {                 /* Pr les 4 Div coulissants : Patient, Services, Compte User, Vérif */
    float: left;
    overflow: hidden;
    border-right: 1px solid #5D6D7E;
}

.dropdown .dropbtn {       /* Pour les 4 boutons coulissants */
    font-family: "Josefin Slab", serif;
    font-size: 18px; 
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #e6e6e6;
    border-radius: 0;
    color:black;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*                                 */
/* Page Principale -- Bienvenue -- */
/*                                 */        

#PagePrincipale{
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  padding : 15px;
  width: 95%;
}

#PagePrincipale p.Bienvenue{
  color : #17202A; /*17202A,B3B6B7*/
  font-size: 30px; 
  text-decoration : underline ;
  text-decoration-color: #17202A;
}

.profile{               /* Boite profile */
  width: 50%;           /* Largeur */ /* 330 px */
  height: 100px;
  position: relative;
  padding-left: 10px; 
  margin-left: 0px;
  border-radius: 5px;
  background-color: #fafafa; /* d7dbdf */
  overflow: hidden;
  border: 1px solid #414F5C;

}

.profile .photo, .profile .content {
  box-sizing: border-box;     /* Pour que content et photo ne dépassent pas de .profile */
}

.profile .photo {   /* Cercle photo user */
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #fafafa; 
  background-color: #fafafa;
  margin-left: -50px;
  box-shadow: 0 0 0.5rem black; 
  position:absolute;
  z-index: 1; /*2*/
}

.profile .photo img {
  width: 100%;
}

.profile .content {
  padding: 10px;
  overflow: visible;
  position: absolute;
  width: 100%;
  height: 100%;
  top: -5px;
  left: 20px;
  z-index: 0; /*1*/
}

.profile .content::before {   /* fond de biais */
  content: "";
  position: absolute;
  width: 350px;
  height: 150px;
  background-color: #B3B6B7;        /*e9f3e6*/
  border-right: 3px solid #414F5C;  /*87CEFA,5D6D7E,00658D  */
  left: 0;
  top: -20px;
  z-index: -1;
  transform: rotate(-7deg);
}

.profile .content .text {
  margin : 20px 0px 0px 50px   /* top right bottom left */
}

h3, h6 {
  font-weight: normal;
  margin: 3px 0;
}

h6 {
  font-size: 15px;
}

#PagePrincipale p.infoUser{
  background-color: #B3B6B7;
  border-radius: 10px;
  margin-top: 30px;
  padding: 20px 20px;
}

#PagePrincipale img[name="stetho"]{
  float:right;
}

/*                 */
/*   Formulaires   */
/*                 */

.containerFormu{
  margin: 0px 29px;
  padding : 5px;
  border-radius: 5px;
  border: 1px solid #00688B;
  background-color: white; /* d7dbdf*/
}

.containerFormu h2 {
  margin-left: 20px;
  color: #00688B;
}

.containerFormu fieldset {
  border: 1px solid #00688B;
  border-radius: 5px;
}

.containerFormu legend{
  font-weight: bold;
  font-size: 20px;
  color: #00688B;
  font-variant: small-caps;
  padding: 0px 3px;
}

.containerFormu label {
  width: 140px;
  display: inline-block;
  vertical-align: top;
  margin: 6px;
}
 
.containerFormu em {
  font-weight: bold;
  font-style: normal;
  color: #00688B;
}

.containerFormu input:focus {                /* Quand on clique dans l'input pour saisir les données */
  background-color: #A8DEF0; /* eaeaea*/
}
 
.containerFormu input {
  width: 249px;
  border : 1px solid #00688B;
}

.containerFormu input[type="radio"]{
  width: 10px;
}

.containerFormu input[type="date"]{
  margin-bottom: 2px;
}

.containerFormu input[type="time"]{
  margin-bottom: 2px;
}
 
.containerFormu textarea {
  width: 245px;
  height: 100px;
  border : 1px solid #00688B;
}
 
.containerFormu input[type=submit] {
  width: 150px;
  padding: 10px;
}

.containerFormu select{
  width: 6em;
}

/*                 */
/*      FOOTER     */
/*                 */

#footer {
    margin : 35px 0px 0px 0px;
    border-top: 1px solid #87CEFA;
    left:0;
    right:0;
    color: white;
    text-align: center;
    height: 35px;
    padding-top: 15px;
    background-color: #17202A;
    position: absolute;
}

#footer a:link{
  color : white;
}

#footer a:hover{
    color: #87CEFA;
}

#footer2 {
    margin : 35px 0px 0px 0px;
    border-top: 1px solid #87CEFA;
    color: white;
    text-align: center;
    height: 35px;
    padding-top: 15px;
    background-color: #17202A;
    position: fixed;
    bottom:0;
    left:0;
    right:0;
}

#footer2 a:link{
  color : white;
}

#footer2 a:hover{
    color: #87CEFA;
}
